.alert-bell {
  position: absolute;
  top: 18px;
  right: 92px;
}

.msg-count {
  background-color: blue;
  color: white;
  padding: 3px;
  font-size: 10px;
  border-radius: 50%;
  top: -14px;
  right: 10px;
  position: relative;
}

.pi {
  font-size: 20px;
}

nav {
  margin-bottom: 25px;
}
