.container-message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-message-field {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-user-messages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}